h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    padding-bottom: 20px;
}

p {
    font-size:larger;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

h3 {
    margin-left: 200px;
    margin-right: 200px;
}

td, tr, th {
    padding: 30px;
    background-color: blanchedalmond;
    
}

table {
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 5px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    width: 400px;
    border-radius: 5px;
    
}

.intro  {
    background-color:bisque;
    padding: 50px;
}

.scene {
    background-color:brown;
    padding: 50px;
}

.suspects {
    background-color: blanchedalmond;
    padding: 50px;
}

.whodunnit {
    background-color:brown;
    padding: 50px;
}